<ion-header >

  <ion-navbar color="light">
    <ion-buttons left>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>
      Lista de Tarefas
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Fazer um app</ion-label>
      <ion-checkbox ng-model="isChecked">Label</ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Fazer TCC</ion-label>
      <ion-checkbox ng-model="isChecked">Label</ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Trampar</ion-label>
      <ion-checkbox ng-model="isChecked">Label</ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>
